{% extends "base/base.html" %}
{% block titulo %}Login{% endblock %}
{% block cuerpo %}
<script type="text/javascript">
/*
* Función que recarga la imagen del captcha
*/
$(function() {
    // Add refresh button after field (this can be done in the template as well)
    /*$('img.captcha').after(
        $('<a href="#void" class="captcha-refresh">&nbsp;<span class="glyphicon glyphicon-refresh"></span></a>')
    );*/
    // Click-handler for the refresh-link
    $('.captcha-refresh').click(function(){
        var $form = $(this).parents('form');
        var url = location.protocol + "//" + window.location.hostname + ":"
                  + location.port + "/captcha/refresh/";

        // Make the AJAX-call
        $.getJSON(url, {}, function(json) {
            $form.find('input[name="captcha_0"]').val(json.key);
            $form.find('img.captcha').attr('src', json.image_url);
        });

        return false;
    });
});
</script>
<div align="center">
    <h2>Login</h2>
    <form action="{% url 'login' %}" method="post">{% csrf_token %}
        Username: {{ form.username }}
        <br />
        <br />
        Password: {{ form.password }}
        <br />
        <br />
        Captcha: {{ form.captcha }}
        <a href="#void" class="captcha-refresh"><span class="glyphicon glyphicon-refresh"></span></a>
        <br />
        <br />
        <button class="btn btn-success" type="submit">Login</button>
        <br />
        <br />
        <a href="{% url 'register' %}"><button class="btn btn-primary" type="submit">Create account</button></a>
    </form>
</div>
{% endblock %}