{% extends "base/base.html" %}
{% block titulo %}Index{% endblock %}
{% block cuerpo %}
<form method="post">{% csrf_token %}
    <b>Autor:</b><br />
    {{ form.autor }}

    <br />
    <br />

    <b>Titulo:</b><br />
    {{ form.titulo }}
    
    <br />
    <br />

    <b>Cuerpo:</b> <br />
    {{ form.cuerpo }}

    <br />
    <br />

    <b>Fecha:</b> <br />
    {{ form.fecha }}

    <br />
    <br />
    <a href="{% url 'post_lista' %}"><button type="button" class="btn btn-primary">Volver</button></a>
	<button class="btn btn-info" type="reset">Limpiar</button>
	<button class="btn btn-success" type="submit">Publicar</button>
</form>
{% endblock %}

